<section>
	<div class="container">
		<h1>Upraviť dataset</h1>
		<p>
		Tu môžete upraviť atributy datasetu.
		</p>
		<%= form_tag({:action => :edit_columns}, {:method => :post,multipart: true}) do %>
		<b> Meno datasetu </b> <br>
		<%= text_field_tag("name",nil,placeholder: @dataset_name) %>
		<div class="table-responsive" style="margin-top: 30px">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Pôvodné meno</th>
						<th>Typ</th>
						<th>Nove meno</th>
					</tr>
				</thead>
				<tbody>
			        <% @Fields.each do |field| %>
			        <tr>
				       <td><%=  field.title %> </td>
				       <td><%= select_tag( "type[#{field.id}]", options_for_select([['Znakov reťazec','String'],['celé číslo','Integer'],['desatinné číslo','Double'],['Dátum','Date']], field.field_type)) %></td>
				       <td><%= text_field_tag("title[#{field.id}]",nil,placeholder: "meno stlpca") %> </td>
				    </tr>
				    <% end %>
				    <%= hidden_field_tag 'dataset_id', @dataset_id  %>
				</tbody>
			</table>
			<%= submit_tag( "Uprav", {class: "btn btn-primary btn-lg"} ) %>
		<% end %>
		</div>
	</div>
</section>