<section class="page-header page-header-xs">
	<div class="container">

		<h1>Moje datasety</h1>

		<!-- page tabs -->
		<ul class="page-header-tabs list-inline">
			<li class="active"><a href="#">Všetky datasety</a></li>
			<li><a href="#">Moje datasety</a></li>
			<li><a href="#">Datasety na schválenie</a></li>
		</ul><!-- /page tabs -->

	</div>
</section>
<!-- /PAGE HEADER -->



<!-- -->
<section>
	<div class="container">

		<h4> Všetky datasety</h4>
		<div class="table-responsive">
			<table class="table table-bordered text-center table-vertical-middle">
				<thead>
					<tr>
						<th style="text-align: center !important" class="width-30">ID</th>
						<th style="text-align: center !important">Nazov</th>
						<th style="text-align: center !important">Hodnotenia</th>
						<th style="text-align: center !important">Upraviť</th>
						<th style="text-align: center !important">Odstrániť</th>
					</tr>
				</thead>
				<tbody>
				<% @datasets.each do |dataset| %>
					<tr>
						<td>
							<%= dataset.id %>
						</td>
						<td>
							<%= dataset.name %>
						</td>
						<td>
							<div class="rating rating-3 size-13 width-100"></div>
						</td>
						<td>
							<%= link_to  action: "edit", id: dataset.id do %>
								<span class="label label-warning">Uprav</span>
							<% end %>
						</td>
						<td>
							<%= link_to  action: "delete", id: dataset.id do %>
								<span class="label label-danger">Vymaž</span>
							<% end %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<%= button_to "Pridať nový", {action: "new"}, {class: "btn btn-primary btn-lg", method: "get"} %>
		</div>
	</div>
</section>